Java Project/.metadata*/
Java Project/.recommenders*/
Java Project/ConnectFour/unity-visualisation-file.txt
Unity Visualizer/Connect4ThreeD/Builds/ConnectFourVisualizer_Data/output_log.txt
Unity Visualizer/Connect4ThreeD/Builds/latestFilePath.txt
Neuro Net/build-NeuroNet-Desktop_Qt_5_9_3_GCC_64bit-Debug*/
Neuro Net/build*/
Neuro Net/NeuroNet/NeuroNet.pro
Neuro Net/NeuroNet/NeuroNet.pro.user
Java Project/fannj/
Java Project/.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments.gen
